/* Add here all your CSS customizations */

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

input, button, select, textarea, .btn {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
}

a, 
.btn-link,
.pagination > li a {
    color: #3938F1;
}

body .btn-primary,
body .btn-primary:hover {
    background-color: #3938F1 !important;
    border-color: #3938F1 !important;
    box-shadow: none !important;
    outline: none !important;
}

a:hover,
.btn-link:hover,
.pagination > li a:hover {
    color: #3938F1;
}

.text-primary {
    color: #3938F1 !important;
}

html .pagination > li.active a, 
html.dark .pagination > li.active a,
html .pagination > li.active a:hover, 
html.dark .pagination > li.active a:hover {
    background-color: #3938F1;
    border-color: #3938F1;
}

.content-body {
    padding: 30px;
}

.userbox .profile-picture img {
    width: 25px;
}

.label-primary,
.sidebar-left .sidebar-header .sidebar-toggle {
    color: #ffffff;
    background: #3938F1;
    border-radius: 0 0 0 0;
}

.header .toggle-sidebar-left {
    background: #3938F1;
}

.sidebar-left .sidebar-header .sidebar-toggle i {
    color: #ffffff !important;
}

ul.nav-main li a {
    color: #ffffff;
}

ul.nav-main > li.nav-active > a {
    box-shadow: 2px 0 0 #3938F1 inset;
    color: #ffffff !important;
}

ul.nav-main > li.nav-active > a:hover,
ul.nav-main > li > a:hover {
    background-color: #0f0225;
}

.page-header,
.sidebar-left {
    background: #170636;
}

.page-header {
    box-shadow: none !important;
}

.page-header h2 {
    border-bottom: none;
}

.page-header .breadcrumbs {
    margin-right: 1rem;
}

.sidebar-left {
    box-shadow: none !important;
}

.userbox.open .dropdown-menu a:hover {
    background: #3938F1;
}

#menu {
    padding-top: 2rem;
}

.no-wrap {
    white-space: nowrap;
}

.input-search input.form-control:first-child, 
.input-search input.form-control:last-child {
    border-radius: 0;
}

.bg-primary {
    background: #3938F1;
}

.badge, .label {
    border-radius: 0;
}

.content-body main .row > div {
    margin-bottom: 30px;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.d-flex.justify-content-end {
    justify-content: flex-end;
}

.d-flex.justify-content-between {
    justify-content: space-between;
}

.d-flex.align-end {
    align-items: flex-end;
}

.row .col-12 {
    width: 100%;
}


.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.select2-results .select2-highlighted {
    background: #3938F1;
}

.fileupload {
    position: relative;
}

.panel-sign {
    text-align: center;
}

.panel-actions a {
    cursor: pointer;
}

.panel-sign img {
    margin-bottom: 2rem;
}

.body-sign .panel-sign .panel-body {
    border-top-color: #3938F1;
}

.panel-sign .btn-block {
    margin-bottom: 2rem;
}

.lity-content iframe {
    display: block;
    width: 90vw;
    height: 90vh;
    overflow: hidden;
}

.userbox > a {
    cursor: pointer;
}

.xzoom-loading {
    background-image: none !important;
}







.customer-documents .list-group-item {
    display: flex;
    align-items: center;
}

.customer-documents .thumbnail-gallery {
    margin: 0 1.5rem 0 0;
}

.customer-documents .thumbnail-gallery .img-thumbnail {
    margin: 0 0 0 0;
}

.customer-documents .thumbnail-gallery .img-responsive {
    height: 100px;
    border-radius: 4px;
}

.customer-documents .thumbnail-info p {
    margin-bottom: 0;
}

.customer-documents .thumbnail-info > div {
    padding-top: 1rem;
    margin-bottom: 10px;
}






.widget-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.widget-summary .summary-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px dotted #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.widget-summary .widget-summary-col {
    width: 100%;
    display: block;
}

.widget-summary .widget-summary-col:last-child {
    width: 45%;
    max-width: 45%;
    min-width: 45%;
}

.widget-summary .widget-summary-col:first-child {
    padding-right: 1rem;
}

.widget-summary svg {
    height: auto !important;
}

.widget-summary .widget-summary-col .summary {
    padding-top: 50px;
}

.widget-summary .widget-summary-col .summary .info {
    font-size: 16px;
}

.widget-summary .widget-summary-col .summary .info ul {
    padding: 0 0 .5rem .5rem;
    line-height: 20px;
}

.widget-summary .widget-summary-col .summary .info li {
    display: inline-block;
    word-break: keep-all;
    margin-right: .5rem;
    line-height: 20px;
}

.widget-summary .widget-summary-col .summary .info.statuses {
    padding-top: .5rem;
}

.widget-summary .widget-summary-col .summary a {
    cursor: pointer;
    margin-left: .5rem;
    font-size: 12px;
}

.widget-summary .chart-container {
    padding-top: 40px;
    text-align: center;
}

.widget-summary .chart-container h4 {
    margin-bottom: 0;
    font-weight: bold;
}

.widget-summary .chart.chart-md {
    height: 150px;
}

@media (max-width: 768px) {
    .widget-summary .widget-summary-col:last-child {
        width: 35%;
        max-width: 35%;
        min-width: 35%;
    }

    .widget-summary .widget-summary-col .summary .info {
        font-size: 14px;
    }

    .widget-summary .widget-summary-col .summary .info:first-child a {
        white-space: nowrap;
    }

    .widget-summary .widget-summary-col .summary .info li {
        display: block;
    }
}







.table > tbody > tr > td {
    vertical-align: middle !important;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.table tr.no-border td {
    border: none !important;
}

.table td.no-padding {
    padding-bottom: 0;
    padding-top: 0;
}

.table td strong {
    font-size: 16px;
}

.table td.td-profiles {
    max-width: 120px;
    min-width: 120px;
    white-space: normal !important;
}

.table td.td-profiles .label {
    display: inline-block;
    margin-bottom: 1px;
}

.table > tbody > tr {
    cursor: pointer;
}

.datatables-footer > div {
    margin-bottom: 0 !important;
}





.table-customer-profiles th {
    width: 25%;
}

.table-customer-profiles h5 {
    padding: 0;
    margin-top: 0;
}

.table-customer-profiles td ul {
    margin-bottom: 0;
}

.table-customer-profiles td ul p {
    margin-bottom: 0;
}

.table-customer-profiles tr.tr-active td,
.table-customer-profiles .tr-comment-form td,
.table-customer-profiles .tr-comments td {
    background-color: #f5f5f5;
}

.table-customer-profiles .tr-comment-form,
.table-customer-profiles .tr-comments {
    display: none;
}

.table-customer-profiles .show-if-active {
    display: none;
}

.table-customer-profiles tr.tr-active .show-if-active {
    display: block;
}

.table-customer-profiles tr.tr-active .hide-if-active {
    display: none;
}

.table-customer-profiles .tr-comment-form.tr-active,
.table-customer-profiles .tr-comments.tr-active {
    display: table-row;
}



.customer-filter .no-wrap {
    padding-right: .5rem;
}

.customer-filter .input-group {
    margin-right: 1rem;
}

.customer-filter .input-group input.form-control {
    min-width: 160px;
}


.drop-filter {
    align-items: center;
}

.drop-filter .input-group-btn {
    display: flex !important;
}

.drop-filter > b {
    display: inline-block;
    padding-right: 1rem;
}

.drop-filter .dropdown-toggle {
    border: none;
    padding: 0;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    white-space: nowrap;
}

.drop-filter .btn-label {
    padding-right: .5rem;
}

.drop-filter .date-field {
    padding: 0;
    width: 75px;
    border: none;
    outline: none;
    box-shadow: none;
}

.drop-filter .date-to {
    margin-right: 8px;
}

.drop-filter > .btn {
    margin-left: .5rem;
}

.drop-filter > .btn:first-child {
    margin-left: 0;
}

.drop-filter .dropdown-menu.left {
    left: auto;
    right: -35px;   
}

.drop-filter .dropdown-menu a {
    cursor: pointer;
}





.table h4 {
    padding: 0;
    margin: 0;
}

.table-filter-wrap {
    padding: 1rem 1rem 1rem 10px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 1rem;
}

.table-filter-wrap > div {
    width: 100%;
}

.table-filter-wrap > div button,
.table-filter-wrap .input-group-btn,
.table-filter-wrap .drop-filter {
    white-space: nowrap;
    word-break: keep-all;
    width: auto;
}

.table-filter {
    justify-content: flex-start;
}

.table-filter > div {
    width: auto;
    margin-right: 2rem;
}

.table-sort-wrap {
    justify-content: flex-end;
}

.table-sort-wrap > div  {
    width: auto;
    margin-left: 1rem;
}






.content-body main form .row > div {
    margin-bottom: 15px;
}













@media only screen and (min-width: 768px) {
    html.sidebar-left-collapsed.fixed .sidebar-left .nano {
        background: #170636;
        box-shadow: none !important;
    }
}